# Customize:
OWNER_ORGANIZATION_NAME=WeFindX

# PostgreSQL
DATABASE_URL=postgres://postgres@postgres:5432/postgres
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

# General settings
DJANGO_ADMIN_URL=^admin/
DJANGO_SETTINGS_MODULE=config.settings.production

# Cache / channels / celery
CACHE_REDIS_LOCATION=redis://redis:6379/0
CHANNELS_REDIS_LOCATION=redis://redis:6379/1
CELERY_BROKER_URL=redis://redis:6379/2
CELERY_BROKER_BACKEND=redis://redis:6379/3

DJANGO_ALLOWED_HOSTS=wefindx.io,test.wefindx.io
DJANGO_SECRET_KEY=s-D-6v`vUABCDxWt=6edL97ff$pmjEUI37^hOjx6Ct;$O;m@v<
# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

SENDGRID_API_KEY=
DJANGO_DEFAULT_FROM_EMAIL=WeFindX <noreply@wefindx.io>
DJANGO_EMAIL_SUBJECT_PREFIX=[WeFindX]
DJANGO_SERVER_EMAIL=WeFindX <noreply@wefindx.io>
# IPDB
IPDB_API_ROOT=https://test.bigchaindb.com
IPDB_APP_ID=
IPDB_APP_KEY=

# Stripe
STRIPE_LIVE_PUBLIC_KEY=pk_live_
STRIPE_LIVE_SECRET_KEY=sk_live_
STRIPE_TEST_PUBLIC_KEY=pk_test_
STRIPE_TEST_SECRET_KEY=sk_test_
STRIPE_LIVE_MODE=False
