[Unit]
Description=Celery Worker Service
After=network.target
Requires={{ system_variant }}-celeryworker.service
Requires={{ system_variant }}-celerybeat.service

[Service]
Type=simple
User={{ system_user }}
Group={{ system_group }}
WorkingDirectory={{ approot }}
ExecStart={{ approot }}/env/bin/celery -A server.apps.celery worker -l INFO --purge
EnvironmentFile={{ approot }}/.env

[Install]
WantedBy=multi-user.target
