[Unit]
Description=Application Main Service
After=network.target
Requires={{ system_variant }}-celeryworker.service
Requires={{ system_variant }}-celerybeat.service

[Service]
Type=simple
User={{ system_user }}
Group={{ system_group }}
WorkingDirectory={{ approot }}
ExecStart={{ approot }}/env/bin/uwsgi --chdir={{ approot }} --wsgi-file={{ approot }}/config/wsgi.py --home={{ approot }}/env --logto=/var/log/{{ system_variant }}/{{ system_variant }}-uwsgi.log --master --processes=2 --buffer-size=65535 --chmod-socket=777 --vacuum --lazy --lazy-apps --socket=/tmp/uwsgi-{{ system_variant }}.sock
EnvironmentFile={{ approot }}/.env

[Install]
WantedBy=multi-user.target
