server {
    listen 80;
    server_name {{ inventory_hostname }} default_server;

    location ^~ /.well-known/acme-challenge/ {
        default_type "text/plain";
        root    /var/www;
        expires 0;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name {{ inventory_hostname }} default_server;

    ssl_certificate     /etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem;
    ssl_dhparam /etc/ssl/certs/dhparams.pem;

    location /api {
        proxy_set_header        Host                    $http_host;
        proxy_set_header        X-Real-IP               $remote_addr;
        proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_http_version      1.1;
        proxy_redirect          off;
        proxy_buffering         off;
        proxy_pass              http://backend;
    }
}
